includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - config/
        - database/
        - routes/
        - tests/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::.*#'
        - '#.* on an unknown class EchoLabs\\Prism\\.*#'
        - '#Property .* has unknown class EchoLabs\\Prism\\.* as its type.#'

    # excludePaths:
    #     - ./*/*/FileToBeExcluded.php
